.bg-img{
  background-image: url(https://dv-website.s3.amazonaws.com/uploads/2019/05/jz_csweather_060619.jpg);
  background-repeat: repeat-x;
  
}
#react-logo {
  color: #00d8ff;
}

.color-orange{
  color: rgba(255, 115, 0, 0.952);
}